// Colors

$primary-gradient: linear-gradient(92.21deg, #2f4fff 0.53%, #0085ff 99.3%);
$primary-color:#2522A7;
$light-text:#5A5A5A;
$dark-text:#040403;
$light-blue: #09005d;
$sub-text: rgba(0, 0, 0, 0.63);
$input-text: #6f6f6f;
$gray-text: rgba(255, 255, 255, 0.79);
$gray-text2: rgba(255, 255, 255, 0.63);
$dark-bg: #06003f;
$ocean: #f4faff;
$alt-button: rgba(255, 255, 255, 0.22);
$light:#ffffff;
$info-yellow:#ffd500;

// Fonts

$normal-font: SFProText;
$header-font: VisueltPro;
$alt-font: SofiaPro;
